[submodule "shiny-server/metrics"]
	path = shiny-server/metrics
	url = https://gerrit.wikimedia.org/r/wikimedia/discovery/rainbow.git
[submodule "shiny-server/wdqs"]
	path = shiny-server/wdqs
	url = https://gerrit.wikimedia.org/r/wikimedia/discovery/twilightsparql.git
